Hello,
<br /><br />
This is your courtesy reminder email. In order to start making money by renting out your space, your listing needs to be completed and submitted to our team for approval.
<br /><br />
To complete your listing, sign in <%= link_to "here", new_user_session_url %>
<br /><br />
If you have any questions you can contact us at <a href="mailto:hello@upspace.ca" target="_blank">hello@upspace.ca</a>. We look forward to helping you make the most of your space.

<%= render 'layouts/mailer_footer' %>

