Your email address has been confirmed. Welcome to upSpace!
<br><br>
<%= link_to "Search", search_url, target: :_blank %> for a space to rent or become a host by creating a free
<%= link_to "listing", new_space_url, target: :_blank %>.
<br><br>
<img src="https://upspace.ca/email/logo-email.jpg" alt="upSpace" />
<br>
515 Legget Drive, Suite 800, Ottawa, ON K2K 3G4
<br>
Check us out on
<a href="https://www.facebook.com/upspace.ca/" target="_blank">Facebook</a>,
<a href="https://www.instagram.com/upspace.ca" target="_blank">Instagram</a>, and
<a href="https://www.linkedin.com/company/upspace/" target="_blank">LinkedIn</a>
