<div class="steps mb-5">
  <div class="step-item is-completed">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Payment</p>
    </div>
  </div>
  <div class="step-item is-completed">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Details</p>
    </div>
  </div>
  <div class="step-item is-completed">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Review</p>
    </div>
  </div>
  <div class="step-item is-completed">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-flag"></i>
      </span>
    </div>
    <div class="step-details">
      <p class="step-title">Done</p>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-10 is-offset-1 has-text-centered">
    <p class="title is-2">Space Requested</p>
    <i class="far fa-check-circle fa-5x icon-green"></i>
    <br/><br/>
    <p class="title is-3">What Next?</p>
    <p><i class="far fa-check-circle icon-green"></i> An email confirmation has been sent to you.</p>
    <p><i class="fas fa-spinner fa-spin icon-green"></i> Note that this reservation is pending your host's approval.</p>
    <p><i class="far fa-envelope icon-green"></i> You'll receive an email when your host accepts (or declines) your request.</p>
    <p><i class="far fa-comments icon-green"></i> Thanks for booking with upSpace. Leave a google review below.</p>
    <%= link_to "Submit a review", "https://g.page/upspaceca/review?gm", class: "button is-large is-primary mt-7" %>
  </div>
</div>
