<div class="column has-text-centered mt-20">
  <h2 class="title is-2">You're all set!</h2>
  <h3 class="title is-3"><%= link_to "Log In Here", new_user_session_path, class: "button is-large is-danger" %></h3>
</div>
