<div id="dateWarningModal" class="modal animated faster dateWarningModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button id="closemodal" class="delete modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="columns is-mobile is-centered">
        <div class="column is-three-quarters has-text-centered is-centered">
          <p class="title is-6 has-text-primary">Booking is more than 90 days in advance!</p>
          <p class="title is-6">Please email jenn@upspace.ca for bookings more than 90 days in advance.</p>
        </div>
      </div>
    </section>
  </div>
  <!-- <button class="modal-close is-large" aria-label="close"></button> -->
</div>