
<h2 class="title is-2 mt-5">Frequently Asked Questions</h2>

<div class="column is-three-fifths is-offset-one-fifth">

  <div class="card">
    <div class="card header">
      <div class="card-header-title">
        What does it cost to use upSpace?
      </div>
    </div>
    <div class="card-content">
      There is no fee for creating an account, browsing, or listing a space. As we continue
      to grow we may charge a fee for new listers, so get in early and get in free!
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        If someone books my space, am I obligated to rent it to them?
      </div>
    </div>
    <div class="card-content">
      <p class="mb-2">No. Places that list their space for rent will receive a notification when someone has expressed interest
      in the space. The lister can either confirm or reject the request.</p>
      <p>When a booking request is accepted, the renter's credit card is charged for the full booking fee. If the lister rejects
      the request, the renter's card is not charged.</p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        I am interested, but I’m not sure my space would work. What should I do?
      </div>
    </div>
    <div class="card-content">
      <p class="mb-2">Part of the mandate behind upSpace is to have a variety of spaces available for our users.
      You do not need to have a boardroom to list on upSpace! Listings come from a variety of spaces including galleries,
      retreats, fitness studios, restaurants, community centres, churches, crafting spaces and libraries. Any space that
      is not being used to its maximum potential is an opportunity to list on upSpace.</p>
      <p>If you are unsure how to go about listing your space, we encourage you to <%= link_to "contact us", contact_path %> and we would be happy to
      walk you through some ideas.</p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        I have multiple rooms or spaces available for rent. How do I list them?
      </div>
    </div>
    <div class="card-content">
      <p>We recommend users create one listing per space available for rent. For example, if you are a co-sharing workspace
      with three boardrooms, you would list each boardroom individually.</p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        How do I collect a security deposit for my listed space?
      </div>
    </div>
    <div class="card-content">
      <p>Currently, security deposits are not handled by the upSpace platform.</p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        How long is my listing going to be up before it expires?
      </div>
    </div>
    <div class="card-content">
      <p>Listings have no expiration date.</p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        Why are listings only in Ottawa and the surrounding area?
      </div>
    </div>
    <div class="card-content">
      <p>upSpace was founded in Ottawa. We want to proof the business model of a marketplace for peer to peer space rentals
      and believe the nation’s capital is a great place to start.</p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        Can I post a listing that is outside the Ottawa area?
      </div>
    </div>
    <div class="card-content">
      <p>At this time, we are not accepting listings outside of the Ottawa region. Please <%= link_to "let us know", contact_path %>
      if you have a space to list and we will use the feedback when planning future growth.</p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        I am a restaurant, pub, or café that is interested in listing on upSpace but I am used to charging based on
        food and alcohol consumption. Can I still use upSpace?
      </div>
    </div>
    <div class="card-content">
      <p class="mb-2">Yes. We encourage all types of spaces to list and this includes restaurants. In fact, there are already
      many restaurants globally which are listed on similar sites that charge a fee for their space! We are one of the
      first platforms to do this in Ottawa.</p>
      <p class="mb-2">Please keep in mind that you can advertise your rate as a starting rate. For example "Starting at $150/hr" is a
      very common industry practice. The rate can be modified once you and the renter are in contact about the details
      around the booking.</p>
      <p>If you are unsure how much to charge per hour, please <%= link_to "contact us", contact_path %> and we would be happy to provide some suggestions
      based on your space and the market. Please keep in mind that space seekers are looking for bookings which are
      straight forward and transparent.</p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        How do I get paid?
      </div>
    </div>
    <div class="card-content">
      <p class="mb-2">You need to connect a Stripe account before you can list a space for rent. Deposits will be made to your specified
      account within 7 business days of a completed reservation.</p>
      <p>These deposits will be <span class="has-text-weight-bold">net</span> of the upSpace booking fee.</p>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card header">
      <div class="card-header-title">
        How does upSpace make money?
      </div>
    </div>
    <div class="card-content">
      <p>upSpace charges hosts a 15% transaction fee for each booking. This includes all credit card processing fees, so costs
      are straightforward and easy to budget for hosts.</p>
    </div>
  </div>

</div>
