<div class="columns mt-5">
  <div class="column is-three-fifths is-offset-one-fifth">
    <p>We are looking for <em>passionate</em> and <b>talented</b> individuals to join our team.
      If you are interested in working in a <u>dynamic</u> and REWARDING environment,
      we want to hear from you. We are looking for bright minds that can <b><em>take charge</em></b>
      of the following initiatives:</p><br/>
    <ul>
      <li>Development and execution of SEO strategy</li>
      <li>Development, shooting, and editing of footage for marketing videos</li>
      <li>Development and execution of social media strategy and implementation for Twitter and LinkedIn platforms</li>
      <li>Developing the upSpace brand and applying it to existing platforms: IG and FB</li>
    </ul><br/>
    <p><%= link_to "Contact Us", contact_path %> with your resume and CV. Hint: you'll need to come up with a creative
      solution for sending your documents since we don't allow direct attachments <i class="far fa-smile"></i><br/>
      Better yet…send us a video telling us all about you and why you want to be a part of our Team.</p><br/>
    <p>We also have special programs if you are an
      <%= link_to "Event Planner", planning_path %> or a
      <%= link_to "Brand Ambassador", ambassador_path %>.</p>
  </div>
</div>
