  <div class="columns mt-5">
    <div class="column is-10 is-offset-1">
      <div class="card is-shadowless">
        <div class="columns has-text-centered">
          <div class="column is-one-third">
            <i class="fas fa-map-marker-alt fa-5x icon-grey"></i>
            <h3 class="title is-3">Find a Space</h3>
            <p>Find the perfect short-term space for pop-up shops, events, photoshoots, and everything else your brilliant mind can dream of.</p>
          </div>
          <div class="column is-one-third">
            <i class="far fa-comments fa-5x icon-grey"></i>
            <h3 class="title is-3">Connect with Hosts</h3>
            <p>Message hosts easily on upSpace. We provide you with the tools you need to find the best space for your event.</p>
          </div>
          <div class="column is-one-third">
            <i class="fas fa-hand-holding-usd fa-5x icon-grey"></i>
            <h3 class="title is-3">Book &amp; Pay Securely</h3>
            <p>Secure your booking and make payments directly though upSpace's trusted platform, hassle free.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="columns mt-10">
    <div class="column is-5 is-offset-1 has-text-left">
      <h3 class="title is-3">Search on Your Terms</h3>
      <p>Define what you need, whether its a specific time, accommodating a large number of guests, ground floor access, or certain amenities. upSpace is bringing together as many venues as possible and makes it easy to find all the options that work for you.</p>
    </div>
    <div class="column is-5 has-text-centered">
      <br>
      <i class="fas fa-search fa-8x icon-grey"></i>
    </div>
  </div>

  <div class="columns mt-20">
    <div class="column is-5 is-offset-1 has-text-centered">
      <i class="fas fa-user-check fa-9x icon-grey"></i>
    </div>
    <div class="column is-5 has-text-left">
      <h3 class="title is-3">Profiles & Reviews</h3>
      <p>Get to know your host by checking out their description. Build trust with profile reviews for both hosts and guests, and user verification methods to make sure you're working with a real person.</p>
    </div>
  </div>

  <div class="columns mt-20">
    <div class="column is-5 is-offset-1 has-text-left">
      <h3 class="title is-3">Instant Messaging and Real-Time Notifications</h3>
      <p>Connect with your host immediately if you have any questions before booking, or to sort out details closer to your event date. Notifications are sent in real-time and you can see user response rates so you know when to expect to hear back.</p>
    </div>
    <div class="column is-5 has-text-centered">
      <i class="far fa-envelope fa-10x icon-grey"></i>
    </div>
  </div>

  <div class="columns mt-20">
    <div class="column is-5 is-offset-1 has-text-centered">
      <br>
      <i class="fab fa-cc-visa fa-6x icon-grey"></i>
      <i class="fab fa-cc-mastercard fa-6x icon-grey"></i>
      <i class="fab fa-cc-amex fa-6x icon-grey"></i>
    </div>
    <div class="column is-5 has-text-left">
      <h3 class="title is-3">Secure Payments</h3>
      <p>Reservations and payments are handled without leaving our platform. Your credit card is processed by Stripe, an industry leader in online payments, so you can be confident in security behind the scenes. After successful payment, all that's left to do is make your event happen!</p>
    </div>
  </div>

</div>
