<div class="columns mt-5">
  <div class="column is-three-fifths is-offset-one-fifth">
    <h3 class="title is-3">Looking to Invest?</h3>
    <p><%= link_to "Contact Us", contact_path %> and we'll be happy to send you our pitch video and setup a discovery call.</p>
  </div>
</div>
