<div class="columns mt-5">
  <div class="column is-three-fifths is-offset-one-fifth">
    <h2 class="title is-2">Privacy Policy</h2>
    <p>Schurer Solutions Incorporated D/B/A upSpace (“upSpace”, ”We”) is committed to protecting your privacy. We make the website https://upspace.ca (the “Website”) available together with our services as described in our Terms of Use. This Privacy
      Policy describes how we collect, store, use and distribute information about our users through the Website.</p>
    <p>This Privacy Policy was last modified on: June 9, 2018.</p>
    <p>If you do not agree to any part of this Privacy Policy, then we cannot provide the Services to you, and you should stop accessing the Services and deactivate your account.</p>
    <p>Any definition of a term that does not appear in this Privacy Policy (such as “Listing”, “Space”, “Content”, “Services” etc.) shall be given its definition as outlined in our Terms of Service (http://www.upSpace.ca/terms).</p>

    <p class="subtitle is-3 mt-5">What personal information do we collect from users directly and how do we use it?</p>
    <p>You can register for a upSpace account using either your account for a social networking service (“SNS”) we support (e.g. Facebook) or directly through the Site using your email address.</p>
    <p>If registering using your SNS account, you allow upSpace to access your SNS account information for the purposes of creating a upSpace account and collect the following information: first and last name, email, and, if provided on your SNS account,
      phone number.</p>
    <p>If registering using your email address, we require: (i) your email address, and (ii) first and last name, and (iii) your password. You will not receive marketing communications unless you consent on registration.</p>
    <p>We do not collect information from you when you request information from upSpace or about the Services. You can comment on our blog postings using Facebook’s commenting platform, but we do not collect any information from you.</p>
    <p>We use the information you provide at registration to communicate with you regarding and to administer the Services, including, without limitation, listing or booking a space, allowing users to communicate with other users, and reviewing a Space
      or Lister. Except the information a Lister provides when creating a Listing (see below), upSpace will not disclose any of the contact information (including your first and last name) to other users.</p>

    <p class="subtitle is-3 mt-5">What information do we collect about your Space?</p>
    <p>When a Lister lists a Space, you are required to specify:</p>
    <p>• space type (e.g. yoga studio, dance studio, music recording studio, etc.),</p>
    <p>• the name of the Space,</p>
    <p>• a description of the Space,</p>
    <p>• any rules you have about the Space,</p>
    <p>• amenities and features of the Space,</p>
    <p>• the location,</p>
    <p>• the Space Booking Fee,</p>
    <p>• whether the Space is available on an hourly or daily basis,</p>
    <p>• your cancellation policy, and</p>
    <p>You also have the ability to upload photos and videos of your Space for the Listing, based on your chosen Subscription Plan.</p>
    <p>This information will be used to create the Listing and will be provided to potential Renters. When a Listing is viewed by the public, users will be able see a Lister’s Username nd a brief summary about the Lister which is created by the Lister
      and users.</p>

    <p class="subtitle is-3 mt-5">What information do we automatically collect from users and how do we use it?</p>
    <p>upSpace gathers information from your computer, mobile or web-enabled devices when you visit our Sites or use our Application. We collect your IP address, the date and time you access our websites, the browser you are using, the Internet address
      of the website from which you linked directly to our website, the operating system you are using, the sections of the website you visit, the website pages read and images viewed, and the content you download from the website. This information is used
      for website and system administration purposes and to improve the websites. All of this information remains non-personally identifiable , except when you initiate a chat for help with our support team using our chat tool, where we may link this
      information so that our support team is able to assist you in providing customer support. In other words, except as described above, we do not attempt to link your IP address or any other information listed above with information that would identify
      you.</p>
    <p>Location Information</p>
    <p>When you use a mobile or other web-enabled device, we may also collect location based information based on your device’s GPS or other location tracking functionality. If you access the Services through a mobile or other web-enabled device and you do
    not want your device to provide us with location-tracking information, you can disable the GPS or other location-tracking functions on your device.</p>
    <p>Google Analytics</p>
    <p>The Sites also use Google Analytics, a web analytics tool provided by Google, Inc. (“Google”) and/or other tracking tools that help website owners understand how visitors engage with their website. We can view a variety of reports about how users
      interact with our website so we can improve it. Google Analytics collects information anonymously. Google uses first party cookies and IP addresses, and it reports website trends without identifying individual visitors. We do NOT permit Google to use
      the data it collects from this website. For more information related to Google Analytics, click here: http://www.google.com/intl/en/analytics/privacyoverview.html. For information about and to install Google Analytics Opt-out Browser Add-on, click
      here:</p>
    <p>http://tools.google.com/dlpage/gaoptout?hl=en.</p>

    <p class="subtitle is-3 mt-5">Do we collect any other information?</p>
    <p>We may monitor content and your communications on our Sites and Application for quality assurance, to improve our business and services offerings, to respond to complaints, and to resolve disputes. We reserve the right, without obligation, to
      moderate disputes between Listers and End Users.</p>

    <p class="subtitle is-3 mt-5">Do the upSpace Sites and Application use cookies?</p>
    <p>When you view our Sites, we might store some information on your computer or mobile or other web-enabled device in the form of a “cookie” or similar file. We may also allow our business partners to use their cookies on the Sites. For example, as
      discussed above, we use Google Analytics for web analytics, and so Google may also set cookies on your device. There are two types of cookies used on the Platform, namely “persistent cookies” and “session cookies”. Session cookies will normally
      expire when you close your browser, while persistent cookies will remain on your device after you close your browser, and can be used again the next time you access the Services.
    </p>
    <p>Cookies are used to customize your user interface, speed up the navigation process, and make your website experience more efficient. You may choose to decline cookies, if your browser permits, but doing so may affect your use of the website and
      your ability to access certain features of the website.</p>

    <p class="subtitle is-3 mt-5">Does upSpace disclose or share personal information with third-parties?</p>
    <p>upSpace does not sell, trade or otherwise transfer personal information that users provide other than what is disclosed in this Privacy Policy.
    </p>
    <p>upSpace may also distribute parts of the Services (including your Listing) for display on our sites or sites operated by our business partners. If and when your Listings are displayed on a partner’s site, information from your public profile page
      may also be displayed.
    </p>
    <p>upSpace may allow authorized third party service providers access to personal information collected through the Services to perform the Services on our behalf. upSpace’s service providers are required to provide appropriate protection for all
      personal information and to limit their use of such information to providing Services on upSpace’s behalf. These services providers may be in another country, such as the United States, and the personal information may be subject to disclosure in
      accordance with the applicable laws of that jurisdiction, which may create a different privacy regime from your country of residence.
    </p>
    <p>In addition, upSpace may be required to disclose personal information collected through the Services to: (1) satisfy or comply with any law, regulation or other governmental or law enforcement request; (2) protect our or any other person’s rights,
      privacy or safety; (3) protect against fraud or other illegal activity; (4) allow us to pursue remedies or limit damages that we may sustain in a legal action; or (5) enforce the Terms.</p>

    <p class="subtitle is-3 mt-5">How do I modify or update my personal information?</p>
    <p>If you wish to have access to the personal information that we retain on file, or if you wish to correct, update, or delete any information on file, you can do so by logging in to your account, or you may contact us by email at hello@upspace.ca.</p>
    <p>If you would like to cancel your upSpace account entirely, please contact us by sending an email to hello@upspace.ca Please also note that any reviews, forum postings and similar materials posted by you may continue to be publicly available on the
      Sites or Applications in association with your username, even after your account is cancelled.</p>

    <p class="subtitle is-3 mt-5">How does upSpace safeguard your information?</p>
    <p>We have implemented reasonable administrative, technical, and physical security measures to protect your personal information against the unauthorized access, destruction or alteration of your information. However, no method of transmission over
      the Internet, and no method of storing information, can be 100% secure. So, we cannot guarantee the security of your transmissions and of the personal information that we store.</p>

    <p class="subtitle is-3 mt-5">Retention period of personal information</p>
    <p>We retain personal information collected from you as long as necessary to fulfill the purposes outlined in this Policy. As mentioned above, you can always contact us to find out what personal information we have for you on file and update, correct
      or delete it.
    </p>
    <p>When upSpace no longer needs to retain your personal information, it will be destroyed in a manner that ensures its private and confidential nature is preserved.</p>

    <p class="subtitle is-3 mt-5">Some information about the use of third-party links on our website</p>
    <p>Our Sites and Application may contain links to other websites. When you click on one of these links, you will be leaving our website and entering another website. We encourage you to read the privacy statements of these linked sites, as their
      privacy policies may differ from ours. Including a link to a third party website on our website does not mean or imply that upSpace endorses the third-party website.
    </p>

    <p class="subtitle is-3 mt-5">Release</p>
    <p>Any personal information disclosed about End Users to Listers and/or any personal information disclosed about Listers to End Users must be used, retained and stored in accordance with this Privacy Policy. By way of example only, information
      disclosed between an End User and Lister must be for no other purpose other than in relation to scheduling and completing the booking of a Space, and individuals will not be added to any promotional email lists without obtaining the individuals’
      express consent.
    </p>
    <p>Any personal information disclosed and used by End Users and Listers is not under upSpace’s control. Both Lister and End User understand, acknowledge and agree that each are responsible for the disclosure and use of any personal information to one
      another, not upSpace, and upSpace disclaims all liability arising from or related to any such disclosures of personal information.
    </p>

    <p class="subtitle is-3 mt-5">Consent</p>
    <p>By using the website, you consent to our collection and use of non-personal information such as cookie information.
    </p>
    <p>By providing your personal information to us when requesting information, registering an account, listing a Space or otherwise using the Services, you consent to the collection, use and disclosure of personal information described in this Privacy
      Policy.
    </p>

    <p class="subtitle is-3 mt-5">Changes to this Privacy Policy</p>
    <p>We may change this Privacy Policy at any time. If we make material changes to the Privacy Policy, we will notify you either by posting the modified Privacy Policy on the Sites or Application or by sending an email to you. We will also update the
      “Last Updated Date”, above. If we let you know of changes through an email communication, then the date on which we send the email will be deemed to be the date of your receipt of that email.
    </p>
    <p>If you do not agree to the modified Privacy Policy, then we cannot continue providing the Services to you and you will be required to stop accessing the Services. Your continued use of the Services will constitute your consent to the modified
      Privacy Policy.
    </p>
  </div>
</div>
