<div class="column is-two-thirds is-offset-2">
  <div class="column is-fullwidth has-text-centered">
    <p class="title is-2">We believe sharing is caring</p>
    <p class="subtitle is-4">Check out these additional resources for meeting space</p>
  </div>
  <hr>
  <p class="title is-4">Ottawa Public Library</p>
  <p>There are several meeting rooms across the libraries in Ottawa. Each offer for-profit and not-for-profit pricing. This is a good alternative for those working with a tight budget.</p>
  <a href="https://biblioottawalibrary.ca/en/booking-meeting-room" class="button is-primary mt-3" target="_blank">View Library Spaces</a>
  <hr>
  <p class="title is-4">City of Ottawa</p>
  <p>With over 100 facilities to choose from, including a range of spaces from meeting rooms to outdoor spaces, the City is another good resource for planning an event.</p>
  <a href="https://ottawa.ca/en/recreation-and-parks/recreation-facilities/rental-information/rental-facilities" class="button is-primary mt-3" target="_blank">View City Facilities</a>
  <hr>
  <p class="title is-4">Univeristy of Ottawa</p>
  <p>uOttawa has more than a dozen rooms, some of which can accommodate more than 50 people.</p>
  <a href="https://arts.uottawa.ca/en/meeting-and-conference-rooms" class="button is-primary mt-3" target="_blank">View uOttawa's Rooms</a>
  <hr>
  <p class="title is-4">Algonquin College</p>
  <p>Algonquin has a great selection of meeting spaces to choose from. Parking can be a bit tricky.</p>
  <a href="https://www.algonquincollege.com/food-services/meeting-room-details/" class="button is-primary mt-3" target="_blank">View Algonquin's Resources</a>
  <hr>
  <p class="title is-4">Churches</p>
  <p>Churches are another great option when looking for meeting space. There will generally be strict requirements for use of space, but inquires will be considered on a case-by-case basis.</p>
  <a href="https://churchdirectory.ca/browse/?p=ON&a=%&c=Ottawa" class="button is-primary mt-3" target="_blank">View Local Churches</a>
</div>
