$('#space_listing').html('<div class="column is-full has-text-centered mb-2"><% if @arrSpaces.length == 0 %><h4>No results! Try broadening your search.</h4><% else %><h4><b><%= pluralize(@arrSpaces.length, "Space") %> Found</b></h4></div><%= j render partial: "spaces/spaces_list", locals: {spaces: @arrSpaces} %><% end %>')
initialize(<%= raw @arrSpaces.to_json %>)
