<div class="columns mt-5">
  <div class="column is-three-fifths is-offset-one-fifth">
    <h2 class="title is-2">Terms of Service</h2>
    <h4 class="subtitle is-4 mt-5">Updated June 9, 2018</h4>
    <hr>
    <p class="mb-2">UpSpace is an online marketplace that allows you to search and book commercial and private space on a short term basis. Please read our service agreement carefully below prior to using our marketplace and it’s services as it governs
      your use of our platform.</p>
    <h3 class="subtitle is-3 mt-5">Services Agreement</h3>
    <p class="mb-2">UPSPACE INC. (“UpSpace”, “We”) operates the website located at upspace.ca. This UpSpace Services Agreement (“Agreement”) is a contract between UpSpace (“UpSpace” or “We”) and the person(s) that are registered with UpSpace (“User” or
      “You”). This Agreement describes the terms and conditions that apply to your use of the UpSpace marketplace to book or list Spaces available for hourly or daily rent through our website, and governs the use of your Space for other users; and
      establishes the obligations owed between You and UpSpace, and between You and other users.</p>
    <p class="mb-2">Throughout this Agreement, the term “Service” means the service allowing you to book or list Spaces available for hourly or daily rent through our website (the “Platform”). The term Service does not include any services provided by
      third parties. The terms “Renter” and “Lister” refer to the party Booking or Listing a Space, respectively.</p>
    <p class="mb-2">A “Space” is the physical Space available to a Renter to use during specific times, and subject to specific Fees and any site-specific terms or limitations. A Lister may “List” a Space by providing certain details about the Space
      including availability, pricing, and terms or limitations of use; this posting about a Space is called a “Listing.”</p>
    <p class="mb-2">A Renter may “Book” a Space by accepting the times, fees, and any additional terms (such as damage deposit requests) or limitations of the Listing. A “Booking” is (i) only the grant of a limited, temporary, revocable license to use a
      Space, and (ii) if applicable, a contract for Lister Services, in the manner, for the time, and subject to all restrictions provided, subject to this Agreement, and as confirmed through the Platform. The scope of the use, including times, specific
      fees, and other additional terms or limitations, constitutes a “Booking Agreement” that incorporates the terms and conditions of this Agreement and referenced policies. A Booking does not provide you a lease but only allows you limited access to use
      the Space or other service only as permitted in the Agreement and, as applicable, the Booking Agreement.</p>
    <p class="mb-2">This Agreement is organized into 5 sections:</p>
    <p class="mb-2">
      <span class="has-text-weight-bold">Section 1: General Terms</span>
      includes general terms describing your Account including creating an account, accepting or making payments, and describing how we communicate with you.</p>
    <p class="mb-2">
      <span class="has-text-weight-bold">Section 2: Platform and Service</span>
      describes how you may and may not use the Platform and Service, and also describes how we use any data.</p>
    <p class="mb-2">
      <span class="has-text-weight-bold">Section 3: UpSpace Services</span>
      establishes the obligations of Listers, including how to List a Space and what is expected of any Lister listed through the Service; and the obligations of Renters, including Booking a Lister, expected behavior, responsibility for payment of Fees,
      and Booking other services.</p>
    <p class="mb-2">
      <span class="has-text-weight-bold">Section 4: Termination, Disputes, and Governing Law</span>
      describes termination or suspension of this Agreement or your Account, and the process of resolving any disputes.
      <span class="has-text-weight-bold">Please read this section carefully before accepting this Agreement –you may not use the Platform or Services if you do not agree to this section.</span></p>
    <p class="mb-2">
      <span class="has-text-weight-bold">Section 5: Additional Legal Terms</span>
      provides additional legal terms including our ability to update this Agreement, and disclaimers and limitations on our liability.</p>
    <p class="mb-2">If you have questions about this Agreement, please contact us at hello@upspace.ca. Your use of the Platform or Services constitutes your ongoing acceptance of this Agreement, as amended.</p>
    <h4 class="subtitle is-4 mt-5">Section 1: General Terms</h4>
    <h5 class="subtitle is-5 mt-5">1.1 Services</h5>
    <p class="mb-2">UpSpace provides you access to Services through the Platform. You may access the Platform through our website. You may use the Service to List Spaces, Book Spaces as a Renter, communicate with other users, and access your Account.</p>
    <p class="mb-2">You may also be permitted to Book Lister Services (“Lister Services”) through third-party service providers or through the Lister, which may require you to agree to additional terms or conditions. These Lister Services may include
      collection of damage deposits, catering contracts, audio engineering, or other Services that can take place in the Space. This is however not the main marketplace service provided by UpSpace.</p>
    <p class="mb-2">We are continuously improving the Platform or Service for all users and reserve the right to make changes at any time. Changes we make to the Platform or Service, including discontinuing certain features, affect all users and we try
      to minimize disruption to users. However, these changes may affect users differently. We are not responsible if any specific changes we make to the Platform or Service adversely affect how you use them.</p>
    <h5 class="subtitle is-5 mt-5">1.2 Your Account</h5>
    <p class="mb-2">Before using the functionality of our Platform or Services, you must create an account with UpSpace (“Account”) and provide us with information about yourself or your company. We may ask that you update your Account or provide
      additional or different information at any time. This includes requiring additional details about Listers or payment information. Any employees, contractors, or third-parties opening a new or using an existing account (collectively, “Agents”)
      represent and warrant that they have authorization to act on behalf of a person or entity they claim to represent; and if such authorization is not provided by the person or entity, such Agents acknowledge personal liability for all obligations and
      liabilities arising from or related to use of the Account by such Agents.</p>
    <p class="mb-2">You will be required to provide an email address and password to keep your Account secure (“Credentials”), and agree to keep your Credentials private and secure. You are responsible for any actions taken on your Account using your
      Credentials whether or not authorized or taken by Agents to List or Book a Space or Lister Services. You are solely responsible for the actions or communications of your Agents. We are not responsible for and disclaim all liability for use of your
      Account by your Agents.</p>
    <p class="mb-2">When creating or using your Account, you may be required to provide information about yourself or your Space. You will only provide Content to us that you own or have authorization to provide, and ensure that Content is accurate and
      complete. You must keep any Content current, including your contact or payment information. We reserve the right, but shall not be obligated, to use public and private data sources to validate the accuracy of any Content. This may include validating
      your identity or business information, or verifying information about Spaces. You will provide us any additional information to verify the accuracy or completeness of any Content that you provide and we may condition your use of the Platform or
      Service on our ability to verify the accuracy and completeness of this Content. If you do not provide required Content to us as and when we request it, we may suspend or terminate your Account.</p>
    <p class="mb-2">If you are not at least 18 years old, you may not open an Account, access the Platform, or use the Services. Users (including Agents) who use the Services or the Platform to List or Book Spaces, Lister Services on behalf of
      individuals under 18 years old, or provide access or use of Spaces by individuals under 18 years old, accept personal liability for all acts or omissions of such individuals.</p>
    <p class="mb-2">You may close your Account at any time by emailing us at hello@upSpace.ca. You are responsible for all activity associated with your Account made before it is closed including payment of Fees, Taxes, or other Payments; providing use
      of Spaces to Renters as previously Booked; or other liabilities caused by or resulting from use of the Platform or Service. You understand that we may retain Content and continue to display and use any public Content (including reviews of Spaces)
      provided to us prior to closing your Account.</p>
    <p class="mb-2">At our sole option, we may suspend or terminate your Account.</p>
    <h5 class="subtitle is-5 mt-5">1.3 Compliance with Laws</h5>
    <p class="mb-2">As used in this Agreement, “Laws” means all applicable federal, provincial, local, and other governmental laws, regulations, ordinances, codes, rules, court orders, and all recorded and unrecorded private contract, restrictions,
      covenants and other agreements . You will comply with all Laws applicable to your use of the Space, Services, Platform, Lister Services, whether as a Lister or Renter. While we may provide information to help you understand certain obligations of
      using or listing Spaces, we are not authorized to provide and do not provide any legal advice. You are solely responsible for your compliance with Laws and may only use the Platform or Service in compliance with applicable Laws. If you are unsure how
      to comply with Laws, you should seek legal advice related to Listing or Booking a Space.</p>
    <h5 class="subtitle is-5 mt-5">1.4 Fees and Taxes</h5>
    <p class="has-text-weight-bold">(a) Fees, Overtime.</p>
    <p class="mb-2">You are responsible for payment of fees, expenses, and other amounts related to a Booking (“Fees”). Fees include amounts paid to UpSpace, Listers, and Lister Services and as described in our Fees Overview. UpSpace receives Fees for
      providing use of the Service, and Listers receive Fees for Bookings. The specific Fees charged are presented when you request, complete, and pay for a Booking. You should contact Listers through the Platform before Booking if you don’t understand the
      Fees listed. Please email us at hello@upspace.ca at any time if you do not understand Fees or have questions regarding them.</p>
    <p class="mb-2">A Booking provides a limited use of a Space or Lister Services as described in the Listing and Booking Agreement, if applicable. If you use a Space or Lister Services beyond the Booking you will be responsible for payment of
      additional Fees (“Additional Fees”) at the Listers discretion. You are solely responsible for any damage done to the Space during your Booking.</p>
    <p class="mb-2">While we may facilitate the collection of Fees for Space and Lister Services, once remitted to Listers, we are not responsible for the return of Fees or Deposits to Renters, where applicable.</p>
    <p class="has-text-weight-bold">(b) Taxes and Fines.</p>
    <p class="mb-2">You are solely responsible for payment of all taxes, levies, penalties, and other costs imposed by any taxing authority or government agency related to Listing or Booking Spaces or Lister Services including any sales or occupancy tax,
      indirect taxes such as harmonized sales tax (HST), usage or permitting fees, duties, and other taxes imposed by municipalities, provinces, or governments through regulation, ordinance, law, or judicial or regulatory interpretation (collectively
      “Taxes”). Except as required by Law, UpSpace will not calculate, track or pay Taxes or submit Tax reporting on your behalf. You are responsible for all Taxes owed for Booking or Listing a Space, or providing or using Lister Services including,
      without limitation, accurate calculation of Taxes due, timely remittance of Taxes to the appropriate taxing authority and maintenance of any required records and accounts. If any taxing authority demands that we pay such Taxes on your behalf, you are
      immediately liable to us for such Taxes and will reimburse or pay UpSpace for such Taxes upon demand. You are also responsible for any penalties arising from your failing to comply with this Agreement including those issued by regulatory or taxing
      authorities, law enforcement, fire code or safety agencies, or other third parties; or that may be issued by us for losses we or users incur that are based on your failing to comply with this Agreement or misuse of the Platform, Services, Lister, or
      Lister Services (collectively, “Fines”). You understand and agree that UpSpace does not provide you with any advice or guidance of any kind or nature regarding Taxes and that you have been advice to consult with your tax advisor for any required
      advice or guidance regarding Taxes.</p>
    <p class="has-text-weight-bold">(c) Payment.</p>
    <p class="mb-2">You will timely and fully pay any Fees, Taxes, or other amounts you owe under this Agreement. If you owe amounts and we are unable to receive payment through the Platform for any reason, then we may require that you pay through other
      means (such as direct debit). We may off-set any amounts owed to us through collection of funds that would otherwise be payable to you through the Platform. You are responsible for any costs or expenses associated with our recovering Fees, Taxes, or
      Fines owed, including our attorneys’ fees or expenses.</p>
    <h5 class="subtitle is-5 mt-5">1.5 Receiving Payment</h5>
    <p class="mb-2">Acceptance and payment of funds between users or UpSpace on the Platform (“Payment Processing”) is provided by Stripe. Your use of Payment Processing is subject to the Stripe Connected Account Agreement that includes the Stripe
      Services Agreement as may be modified by Stripe from time to time (collectively, the “Stripe Agreement”). As a condition using Payment Processing, you must provide accurate and complete information about you and your business and you authorize us to
      share this information to Stripe. All bank and credit card information is sent directly to and stored with Stripe using their security protocols. UpSpace does not store your payment information on its systems and shall not have any responsibility for
      the safety or security of that information. Your use of Payment Processing is conditioned upon your compliance with the Stripe Agreement, and if the Stripe Agreement is terminated by Stripe you may not be able to use the Platform, or have your
      Account suspended or terminated.</p>
    <p class="mb-2">We may change or add other payment processing services at any time upon notice to you, which may be subject to additional terms or conditions.</p>
    <h5 class="subtitle is-5 mt-5">1.6 Communication and Notices</h5>
    <p class="mb-2">We may communicate with you and provide you information or notices regarding your Account or transactions through email or through messaging on the Platform. You will promptly respond to any communications you receive and understand
      that failure to do so may impact your ability to Book or List Spaces, or use the Platform or Services.</p>
    <p class="mb-2">We may send you notices to the email address included in your Account, through messaging on the Platform. You may send any notices to us at hello@upSpace.ca. You agree that any email notice from us is considered accepted by you one
      day after such notice was sent and will have the same legal effect as if it were physically delivered to you.</p>
    <p class="mb-2">You agree to receive any communications from us and transact with us electronically. This acceptance of emails or other electronic messages constitutes your consent and your electronic signature has the same legal effect as physically
      signing a document. You may withdraw this consent to transact electronically at any point by providing notice to us. However, given that electronic communication is integral to the Platform and the Services, following any such notice we may elect to
      close your Account.</p>
    <p class="mb-2">If you have problems communicating receiving messages, please first please contact us at hello@upSpace.ca.</p>
    <h5 class="subtitle is-5 mt-5">1.7 Communication with Other Users</h5>
    <p class="mb-2">The Platform allows you to communicate with other users without disclosing sensitive personal contact information. It is your responsibility to use good judgment in the information you provide to other users. You may use the Platform
      only to List or Book Spaces or Lister Services, communicate with us or other users, resolve disputes, or use other functionality we provide to you through the Platform. You may not use the Platform to send messages that are unwanted or unrelated to a
      Listing or Booking through the Platform, use the Platform to harass or attempt to market other services to users, or send spam.</p>
    <p class="mb-2">We strongly recommend that you should use the Platform to communicate with other users. If you use other means of communication you understand that you may be putting your personal contact information at risk of misuse. You also
      understand that any communications made outside of the Platform may impair your ability to recover all or some amounts owed to you in the event of a dispute between you and another user.</p>
    <p class="mb-2">We are not responsible for, and disclaim all liability resulting from, any losses or harm to you resulting from sharing personal or sensitive information with other users, or communicating or engaging with users outside of the Platform.</p>
    <p class="mb-2">UpSpace, at its sole option and without notice or any obligation to do so, may from time to time (i) remove communications among users which contain or share personal contact information, or (ii) suspend or terminate the accounts of
      users that share personal contact information, (iii) suspend or terminate the accounts of users whom have circumvented the platform for Bookings.</p>
    <h4 class="subtitle is-4 mt-5">Section 2: Platform and Service</h4>
    <h5 class="subtitle is-5 mt-5">2.1 Ownership, License, Restrictions</h5>
    <p class="mb-2">UpSpace owns all right, title, and interest in the Platform, Services, and all intellectual property embodied or contained in them (individually and collectively, “IP”). IP includes all registered or potential patents, copyrights,
      trademarks, trade secrets, and other proprietary rights. Through your Account, we grant you a limited, temporary, revocable, non-transferable, non-exclusive license to use the Platform and Service for the purposes described in this Agreement and only
      as provided to you through the Platform. This license does not constitute a transfer of ownership or grant you any additional rights to use the IP. We may suspend or close your Account and pursue legal action against you if we believe or determine
      that your use of the Platform, Service, or IP exceeds the scope of this grant; or that you are attempting to hack or disrupt the use of the Platform, Service, or IP by others; or that you are otherwise interfering with the normal operation of the
      Platform or Service.</p>
    <h5 class="subtitle is-5 mt-5">2.2 Community Guidelines</h5>
    <p class="mb-2">We have established Community Guidelines that set our expectations for all users on the Platform. You will review and abide by the Community Guidelines whenever using the Platform or Services, communicating with other users, or using
      or providing use of Listers. If you believe that another user is violating the Community Guidelines, please email us at hello@upspace.ca. UpSpace shall have no duty to monitor users’ compliance with or to enforce the Community Guidelines and shall
      have no liability for any user’s violation of the Community Guidelines.</p>
    <h5 class="subtitle is-5 mt-5">2.3 Referral Program</h5>
    <p class="mb-2">From time to time, upSpace may, but is under no obligation to, offer referral programs. UpSpace is not under any obligation to accept any people or spaces you refer to the Website. By participating in the referral program, you hereby
      acknowledge and agree that (i) you have no expectation that you will receive any minimum amounts of profits in respect of people or spaces that you refer; (ii) that you are not an agent, employee, contractor, representative of upSpace; and (iii) that
      you will not make any representations or warranties to any Listers or Renters on behalf of upSpace or concerning the upSpace Services.</p>
    <h5 class="subtitle is-5 mt-5">2.4 Content</h5>
    <p class="has-text-weight-bold">(a) Posting Content.</p>
    <p class="mb-2">You represent and warrant that you are authorized to provide Content to the Platform and that any Content you provide does not violate the proprietary or privacy rights of a third party. You may not provide any Content that is
      copyrighted by third parties without their express permission. You grant UpSpace a fully-paid, worldwide, non-exclusive, perpetual license to use, copy, transmit, distribute, modify, publicly display, and sublicense any Content you provide to us.
      This grant includes our ability to use any Content for both internal use (such as analysis to improve the Platform or Services) or external use (such as in marketing or online advertising). If you cannot provide us the above grant then you may not
      provide Content to us. You agree to indemnify, defend and hold us harmless for any damages or losses based on third-party claims that Content violates proprietary or privacy rights.</p>
    <p class="has-text-weight-bold">(b) Restrictions on Certain Content.</p>
    <p class="mb-2">You may never post any Content that (i) is defamatory, obscene, profane, or pornographic; (ii) is abusive, harassing, or disrespectful of other users; (iii) violates applicable Laws, including those prohibiting discrimination, false
      advertising, privacy, or unlawful marketing; (iv) is intended to deceive or mislead, is false or inaccurate, or misrepresents the nature or condition of a Space; (v) contains marketing or promotional content unrelated to the details of a Space; or
      (vi) includes sensitive personal information, including payment, contact information, or personal account details.</p>
    <p class="has-text-weight-bold">(c) DMCA Notices.</p>
    <p class="mb-2">If you believe that any Content posted violates your copyright, please notify us at hello@upSpace.ca. This notice should identify the specific Content and provide us with evidence of your ownership of the copyright or authorization to
      enforce the rights of the copyright owner. Any information you provide to us may be shared with other users, third parties, or law enforcement to help assess the claim of infringement or remove infringing content. We will remove any content we
      determine to be infringing consistent with our obligations under the Notice and Notice provisions of the Copyright Modernization Act.</p>
    <h5 class="subtitle is-5 mt-5">2.5 Privacy and Data Usage</h5>
    <p class="mb-2">Our Privacy Policy describes our collection, use, storage, and sharing personal information. This includes personal information included in Content and information collected through use of the Platform. We may anonymize, pseudonymize,
      or aggregate any information, including personal information or Content, and use this information for any purpose including improvement of the Platform or Services, or creating or distributing public marketing collateral.</p>
    <h5 class="subtitle is-5 mt-5">2.6 Username and Password Your Responsibility</h5>
    <p class="mb-2">You are responsible for maintaining the confidentiality of the username and password that you designate during the account registration process or throughout the term of the Agreement, and you are fully responsible for all activities
      that occur under your username and password. You agree to (a) immediately notify Us of any unauthorized use of your username or password or any other breach of security; (b) ensure that you properly log out from your account at the end of each
      session; (c) ensure that you remove all cached copies and other relevant data from your browser to prevent any unintentional or deliberate access of your Account of any third party; and (d) ensure that you have used and use, on a reasonable basis,
      appropriate and up-to-date anti-malware/virus software on your computer. We will not be liable for any loss or damage arising from your failure to comply with this section.</p>
    <h4 class="subtitle is-4 mt-5">Section 3: UpSpace Services</h4>
    <h5 class="subtitle is-5 mt-5">3.1 Listing Spaces - This section applies to Listers</h5>
    <p class="has-text-weight-bold">(a) Listings.</p>
    <p class="mb-2">When you List a Space, you must provide details about the Space including a description, the cost of a Booking, a list of amenities, current pictures, and other details about its potential uses and condition (collectively,
      “Description”). While it is important to communicate the benefits of your Space, the Description must be accurate and give potential Renters a reasonably good understanding of how they may use the Space for their Booking. Descriptions may not include
      any additional contractual obligations or alter Renters legal liabilities from those described in this Agreement.</p>
    <p class="mb-2">
      <p class="has-text-weight-bold">(b) Transacting with Renters.</p>
      All Listers must comply with our Community Guidelines when Listing a Space, communicating with Renters, and coordinating booking and payment. Community Guidelines include responding to inquiries within a reasonable time, timely payment of invoices for
      bookings which are transacted outside of the platform, maintaining a safe and clean environment for Renters, and following up on any Reviews under 3 stars.</p>
    <p class="mb-2">
      <p class="has-text-weight-bold">(c) Conduct and Taxes.</p>
      As a Lister, you are solely responsible for ensuring that Listing complies with all applicable Laws including any local ordinances related to the condition, licensure, or registration Spaces for use by Renters, and payment of Taxes. We may condition
      your continued use of the Platform and Services on your providing proof, to our reasonable satisfaction, of your compliance with Laws at any time.</p>
    <h5 class="subtitle is-5 mt-5">3.2 Booking Spaces and Lister Services - This section applies to Renters</h5>
    <p class="has-text-weight-bold">(a) Bookings.</p>
    <p class="mb-2">As a Renter, you should review the Description and availability to confirm they are appropriate for your Booking. The Platform allows you to confirm any details or ask the Lister any specific questions about the Space or Lister
      Services, or confirm details of a Booking, without sharing your personal contact information. Prior to Booking, you will need to provide payment information through the Platform. Booking Fees will be shown before you complete your Booking. You are
      responsible for all Fees and Taxes associated with the Booking. All Bookings are final and non-refundable</p>
    <p class="mb-2">When you Book a Space, you are only provided a license to use the Space as described in the Booking and confirmed by the Lister, subject to this Agreement and any Booking Agreement. A Booking does not provide you a lease or access or
      use of the Space beyond the specified time and Description.</p>
    <p class="has-text-weight-bold">(b) Conduct.</p>
    <p class="mb-2">You will comply with the Community Guidelines and any Booking Agreements throughout the Booking and use the Space or Lister Services only as permitted or agreed upon and consistent with the Description, and assure that any attendees
      do the same. During your Booking, you are responsible for (i) the behavior and acts of others in attendance that access the Space, (ii) ensuring that the use does not exceed any limitations identified in the Booking, (iii) complying with applicable
      Laws. You are responsible for and accept all liability for any damage done to the Space during your Booking by yourself or others in attendance whether intentional or not, for your failure to comply with applicable Laws, and for any Fines you incur.
      You agree the Space and all equipment will be in substantially the same condition as provided to your or as otherwise agreed in any Booking Agreement and consistent with the Community Guidelines, and to promptly notify Listers of any damage done to
      the Lister or Amenities.</p>
    <p class="has-text-weight-bold">(b) Fees and Payments.</p>
    <p class="mb-2">
      Security Deposits. If requested by the Lister, Renters will be required to pay a security deposit at the time of booking the Space, or at a time as indicated in the Listing. This security deposit will be fully refunded upon completion of Your license
      term, provided that there is no damage to the Listed Space. If a Lister requires that a security deposit be withheld at the end of a licensing term, the Renter has forty-eight (48) hours to notify upSpace that the security deposit must be withheld.
      If We don’t receive any such notification from a Lister, the right to claim from the security deposit is forfeited, and We will refund the security deposit to the Renter. Fees. The remainder the fees for the Listed Space plus any applicable taxes and
      cleaning fees are payable on the date that Renters accept an offer from a Lister. Remittances to Listers. We will remit any monies owing to Listers 3-7 days after the date of the Rental, less the upSpace Service Fees (described below), and after
      receiving confirmation from the Renter that services were provided as described in the Listing and as confirmed by the Booking. upSpace Service Fees; Processing fees. upSpace charges a service fee to Listers for providing the Platform. The amount of
      the service fee is 15% of the total booking value. For more information on the upSpace service fees, please see the FAQ page, located at www.upspace.ca/FAQ. UpSpace reserves the right to change our fees at any time, for any reason without notice.
      Payments. You are responsible for providing valid and accurate payment information. Most payments may be made by credit card on the Platform. You must submit Your payment information to our merchant account payment gateway provided and hosted by
      Stripe. Refunds and Cancellations. Unless otherwise indicated, Bookings are non-refundable, once confirmation has been made by the Renter and the Lister. Bookings may only be cancelled/refunded in accordance with the cancellation and refund policy of
      the individual Listing. Any such Lister cancellation policies will be provided on the Listed Space information page. Refunds/cancellations will be subject to the a processing fee equal to the greater of $25, or 10% of the booking fee. Withholding
      Payments. upSpace reserves the right to withhold payment or charge back to Your account, any amounts (including without limitation, returned security deposits and license or usage fees) otherwise due under this Agreement pending upSpace’s
      investigation of such breach. We also reserve the right to withhold payment or charge back to Your account any amounts subject to dispute, such as in the case of credit card charge backs, pending successful resolution of the dispute. To ensure proper
      payment, You are solely responsible for providing and maintaining accurate contact and payment information associated with Your account, which includes without limitation applicable tax information. If We believe that We are obligated to obtain tax
      information and You do not provide this information to us after We have requested it, We may withhold Your payments until You provide this information or otherwise satisfy us that You are not a person or entity from whom We are required to obtain tax
      information. Any third-party fees related to returned or cancelled payments due to a contact or payment information error or omission may be deducted from the newly issued payment. Fraudulent Transactions. upSpace will not be responsible for any
      transactions between Guests and Hosts occurring via the Platform, including, without limitation, fraudulent transactions. Without limiting the generality of the foregoing, upSpace reserves the right, but is under no obligation, to investigate any
      transactions or Listed Properties that We have a good faith reason to believe are or may be fraudulent or otherwise illegal and to suspend or refuse to process such transactions. We also reserve the right to work with authorities in respect of any
      actual or suspected fraudulent or illegal transactions. If You challenge a transaction or payment, You agree that You will assist us in complying with any laws and card or financial institution rules or policies. Disputes: You must give notice of all
      invoice inquiries and disputes within forty five (45) days of the invoice date, and, with such notice, provide any supporting documentation. After that time, you will be deemed to have agreed on the contents of the invoice and will have no right to
      challenge any element of the invoice. You must pay the undisputed portion of an invoice and subsequent invoices in accordance with this Agreement.
    </p>
    <h5 class="subtitle is-5 mt-5">3.3 Photography</h5>
    <p class="mb-2">In certain cases, upSpace also offers photography services through our partnership with local photography service providers, so that Listers can publish professional photographs of a space being listed on the Website. To order
      photography services, you must fill out a request form on the Website. If we do offer the photography service in your area, a photographer will contact you and you can schedule the shoot directly with the photographer. After your photoshoot the
      images will be posted on the Website within four (4) weeks. All photographs, and all intellectual property rights arising therein, are owned by upSpace and/or its licensors, and are licensed to You for the purpose of advertising your property on the
      Platform. The photographs may not be displayed other than on upSpace, or used for any purpose other than advertising your space on upSpace.</p>
    <h5 class="subtitle is-5 mt-5">3.4 Required Insurance</h5>
    <p class="mb-2">Every user will acquire and maintain all insurance as required by Law and suitable for you or your business. You are solely responsible for understanding and evaluating what insurance is appropriate to cover damage, loss, injury,
      legal liability, and other harm specific to you, your business, those attending the Booking, third parties, the Lister, and deciding what coverage, limits and providers are appropriate for you.</p>
    <h5 class="subtitle is-5 mt-5">3.5 Reviews</h5>
    <p class="mb-2">Both Listers and Renters can leave reviews and/or ratings of one another after a transaction has been completed. Reviews and/or ratings will be displayed in the profile of the User to whom the review relates. You understand and agree
      that User reviews are an important way for other Users of the Services to vet one another, and from time you time you may receive unfavourable reviews. If you would like to make a complaint about a User review, you can do so by contacting us at
      hello@upSpace.ca; we will review the review, but do not make any representations or guarantees that we will remove the review, unless we determine that it is offensive, harassing, inappropriate or obscene.</p>
    <h4 class="subtitle is-4 mt-5">Section 4: Termination, Disputes, and Governing Law</h4>
    <h5 class="subtitle is-5 mt-5">4.1 Term, Termination, and Survival</h5>
    <p class="has-text-weight-bold">(a) Term and Termination by User.</p>
    <p class="mb-2">You consent to this Agreement when you first access or use the Platform or Services, and your continued use of the Platform and Services constitutes your ongoing consent to this Agreement as amended from time to time. You may
      terminate this Agreement by closing your Account with us, however this will not immediately terminate any ongoing rights or obligations you or we may have. This includes any obligations to pay for Bookings, to honor any Bookings made before
      termination, or to pay Fees, Taxes or Fines due; or any liabilities that you incurred prior to termination.</p>
    <p class="has-text-weight-bold">(b) Suspension or Termination by UpSpace.</p>
    <p class="mb-2">We may suspend your Account--including your ability to communicate with other users or receive payments, or complete a Booking--or terminate this Agreement and your Account at any time including, without limitation, (i) if we believe
      that use of your Account poses a risk to UpSpace, you, other users, or third parties, (ii) actual or potential fraud by you or on your behalf, (iii) your failure to respond to communications from us or other users, or (iv) your failure to comply with
      this Agreement or applicable Law.</p>
    <p class="has-text-weight-bold">(c) Survival.</p>
    <p class="mb-2">The following provisions will also survive termination of this Agreement: Sections 1.3 (Compliance with Laws), 1.4 (Fees and Taxes), 1.6 (Communication and Notices), 1.7 (Communication with Other Users), 2.1 (Ownership, License,
      Restrictions), 2.2 (Content), 2.4 (Privacy and Data Usage), Section 3.1(Conduct and Fees) for Listers, Section 3.2(b) (Conduct and Fees) for Renters, 3.4 (Required and Supplemental Insurance), 4 (Termination, Disputes, and Governing Law), and Section
      5 (Additional Legal Terms).</p>
    <h5 class="subtitle is-5 mt-5">4.2 Governing Law</h5>
    <p class="mb-2">This Agreement is governed by the laws of the Province of Ontario and the federal laws of Canada applicable therein and should be treated as an Ontario contract without reference to the principles of conflicts of law. Any dispute
      between Us and you or any other person arising from, connected with or relating to the Services, this Agreement or any related matters must be resolved before the Courts of the Province of Ontario sitting in the City of Ottawa, and you hereby
      irrevocably submit and attorn to the original and exclusive jurisdiction of those Courts in respect of any such dispute or matter. Any claim or cause of action you may have arising from, connected with, or relating to your use of the Website, the
      content thereof, and any Services offered therein, this Agreement, or any related matters must be commenced in a court of competent jurisdiction in the Province of Ontario in the City of Ottawa within six (6) months after the claim or cause of action
      arises, after which time the claim or cause of action is forever barred.</p>
    <h4 class="subtitle is-4 mt-5">Section 5: Additional Legal Terms</h4>
    <h5 class="subtitle is-5 mt-5">5.1 Right to Amend</h5>
    <p class="mb-2">We may amend or modify this Agreement at any time by posting the modified Agreement on our website, sending you a copy via email, or otherwise communicating the amendment to you through the Platform. Your continued use of the Platform
      or Services after we amend or modify this Agreement constitutes your consent to the revised Agreement.</p>
    <h5 class="subtitle is-5 mt-5">5.2 Cancellations</h5>
    <p class="mb-2">UpSpace is not responsible or liable for nonperformance caused by communication failures or nonperformance of Listers.</p>
    <p class="mb-2">Cancellations of Bookings, whether with or without cause, or caused by events outside of your reasonable control, are subject to individual Space Listing Cancellation and Refund Policy. Please review it carefully before Booking a
      Space or Lister Services.</p>
    <h5 class="subtitle is-5 mt-5">5.3 No Assignment</h5>
    <p class="mb-2">You may not assign this Agreement or any rights granted to you, including operation or management of your Account, without our prior written consent. Any attempt to do so without our prior consent will be void. We may assign this
      Agreement upon notice to you as part of a sale or transfer of part or all of our business. Any permitted transfer will inure to the benefit of and bind any successors in interest.</p>
    <h5 class="subtitle is-5 mt-5">5.4 Disclaimers</h5>
    <p class="mb-2">UPSPACE PROVIDES THE PLATFORM AND SERVICE TO LIST AND BOOK SPACES AND LISTER SERVICES, AND COMMUNICATE WITH OTHER USERS. WE ARE NOT RESPONSIBLE TO YOU OR ANY THIRD PARTY FOR PROVIDING, OR FOR THE CONDITION OR NATURE OF, ANY SPACE OR
      LISTER SERVICES. LISTERS, RENTERS, AND LISTER SERVICE PROVIDERS ARE INDEPENDENT THIRD-PARTIES AND ARE NOT AFFILIATED, CONTROLLED BY, OR EMPLOYED BY UPSPACE. LISTERS SET THEIR OWN PRICES, USE THEIR OWN FACILITIES AND RESOURCES, AND MAY CONDITION USE
      OF SPACES OR LISTERS SERVICES AS THEY FEEL IS APPROPRIATE FOR THEIR BUSINESS.</p>
    <p class="mb-2">YOU UNDERSTAND AND AGREE THAT USE OF THE PLATFORM AND SERVICES ARE AT YOUR OWN RISK. UPSPACE IS NOT RESPONSIBLE FOR PERFORMING AND DOES NOT PERFORM BACKGROUND CHECKS ON RENTERS, LISTERS, OR LISTER SERVICES PROVIDERS (INCLUDING
      CRIMINAL OR CIVIL CHECKS); DOES NOT REVIEW THE CONDITION OF LISTERS OR ENSURE THAT THEY COMPLY WITH EXISTING LAW, MEET ANY SPECIFIC REQUIREMENTS, OR ARE CONSISTENT WITH THEIR DESCRIPTION; AND DOES NOT GUARANTEE PERFORMANCE OF ANY USER OR THIRD PARTY.
      ANY INFORMATION PROVIDED TO YOU REGARDING RENTERS, LISTERS, OR LISTER SERVICES PROVIDERS IS ONLY PROVIDED TO FACILITATE YOUR USE OF THE PLATFORM AND IS PROVIDED “AS IS” AND WITHOUT ANY REPRESENTATION OR WARRANTY. UPSPACE DISCLAIMS ALL REPRESENTATIONS
      AND WARRANTIES, EXPRESS AND IMPLIED, THAT ANY INFORMATION PROVIDED THROUGH THE PLATFORM IS ACCURATE OR COMPLETE, OR THAT ANY RENTERS, LISTERS, OR LISTER SERVICES PROVIDERS WILL BE PROVIDED TO YOU AS DESCRIBED. UPSPACE DISCLAIMS ALL RESPONSIBILITY FOR
      AND LIABILITY RESULTING FROM THE NEGLIGENCE, INTENTIONAL MISCONDUCT, OR CRIMINAL ACTIVITY OF ALL USERS OR THIRD PARTIES, OR ANY INJURY OR PROPERTY DAMAGE THAT OCCURS TO YOU, THIRD PARTIES, OR PROPERTY WHILE ACCESSING OR USING SPACES OR LISTER
      SERVICES.</p>
    <p class="mb-2">THE PLATFORM AND SERVICES ARE PROVIDED TO YOU ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT ANY GUARANTEE OR WARRANTY OF ANY KIND, EXPRESSED OR IMPLIED, INCLUDING WITHOUT LIMITATION WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
      PARTICULAR PURPOSE, SUITABILITY FOR YOUR PARTICULAR USE, OR NONINFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE DISCLAIM THAT THE PLATFORM OR SERVICES ARE FREE FROM ERROR OR VIRUSES; THAT THEY WILL NEVER CAUSE HARM; THAT THEY MEET OR BE SUITABLE FOR
      YOUR NEEDS OR REQUIREMENTS; THAT THEY ARE ALWAYS AVAILABLE; OR THAT THEY ACCURATELY REPRESENT LISTERS OR LISTER SERVICES PROVIDERS. WE EXPRESSLY DISCLAIM ANY OBLIGATION TO CORRECT ERRORS, EVEN THOSE THAT WE ARE AWARE OF, AND MAY CHOOSE TO DISCONTINUE
      OPERATION OF THE PLATFORM OR SERVICE, OR FEATURES OF EITHER, AT ANY TIME.</p>
    <h5 class="subtitle is-5 mt-5">5.5 Representations and Warranties</h5>
    <p class="mb-2">By opening your Account, you represent and warrant that (a) you are authorized to use the Platform and Services and have authority to execute this Agreement; (b) that you have only one Account with us and have not had an Account
      terminated by us previously; (c) all information provided to us is accurate and complete; (d) you will not use the Platform or Services in violation of Law or the Community Guidelines, to commit fraud, to deceive other users, or for any other
      improper purpose; and (e) you are authorized to provide any Content to us.</p>
    <p class="mb-2">When using the Platform or Services as a Lister, you further represent and warrant that (f) you are permitted under applicable Laws to List any Listers provided; (g) your Listing of a Lister and the Lister itself comply with
      applicable Laws; and (h) you will reasonably facilitate the use of, and not obstruct the use of, the Listers as Booked by Renters.</p>
    <p class="mb-2">When using the Platform or Services as a Renter, you further represent and warrant that (i) you will comply with any Booking Agreements; (j) you will not use Listers or Listers Services in a manner that violates Laws or Community
      Guidelines, or that facilitates the violation of either by third parties; and (k) that any payment Credentials provided to us may be used as described in this Agreement.</p>
    <h5 class="subtitle is-5 mt-5">5.6 Indemnities</h5>
    <p class="mb-2">You will indemnify, defend and hold UpSpace and its owner(s), agents, members, information providers, attorneys, or affiliates (collectively, “UpSpace Affiliates”) harmless against all third-party claims, liabilities, losses, damages,
      and related expenses (including reasonable legal expenses) (collectively, “Claims”) arising from or related to (a) provision of your Lister (for Listers) or Lister Service (for Listers), or use of Listers or Lister Services (for Renters); (b) Content
      you provide through the Platform; (c) your failure to comply with Laws; (d) your providing of information to us that is inaccurate or incomplete, (e) your breach of any of your obligations under this Agreement, and (f) any contract or other agreement
      between you and any other user other than through the Platform. This indemnification will survive termination of this Agreement.</p>
    <h5 class="subtitle is-5 mt-5">5.7 Limitations of Liability</h5>
    <p class="mb-2">EXCEPT TO THE LIMITED EXTENT OF THE UPSPACE FEES (AS DEFINED BELOW) UNDER NO CIRCUMSTANCES OR ANY LEGAL THEORY WILL UPSPACE OR ITS OWNERS, AGENTS, MEMBERS, INFORMATION PROVIDERS, ATTORNEYS, OR AFFILIATES BE LIABLE TO YOU OR ANY THIRD
      PARTY FOR ANY DAMAGES (WHETHER DIRECT, INDIRECT, GENERAL, COMPENSATORY, INCIDENTAL, CONSEQUENTIAL, SPECIAL, PUNITIVE, EXEMPLARY OR OTHERWISE), INJURY, CLAIM OR LIABILITY OF ANY KIND OR CHARACTER BASED UPON OR ARISING FROM YOUR USE OF OR INABILITY TO
      USE THE PLATFORM OR SERVICES, OR LISTERS OR LISTER SERVICES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. IF YOU ARE DISSATISFIED WITH THE PLATFORM OR SERVICES, OR ANY CONTENT CONTAINED THEREIN, YOUR SOLE AND EXCLUSIVE REMEDY IS TO
      DISCONTINUE USING THE PLATFORM AND SERVICES.</p>
    <p class="mb-2">AS USED HEREIN, “UPSPACE FEES” SHALL MEAN THE AMOUNT PAID BY YOU TO UPSPACE, EXCLUDING ANY AMOUNTS THAT WERE PAID OR PAYABLE TO LISTERS OR LISTER SERVICES, FOR USE OF THE PLATFORM OR SERVICES.</p>
    <p class="mb-2">THE LIMITATION OF LIABILITY SET FORTH ABOVE APPLIES TO THE EXTENT PERMITTED BY LAW.</p>
    <h5 class="subtitle is-5 mt-5">5.8 Entire Agreement; Interpretation</h5>
    <p class="mb-2">This Agreement together with any Booking Agreement constitutes the entire agreement between you and UpSpace governing your use of the Platform or Services. This Agreement supersedes all prior understandings or agreements between you
      and UpSpace. As between you and UpSpace, this Agreement controls over any conflicting terms in a Booking Agreement except where expressly stated otherwise and agreed upon in writing between the parties.</p>
    <p class="mb-2">Any monetary amounts described in this agreement will be in CAD and “$” will be read to mean Canadian Dollars.</p>
  </div>
</div>
