<div class="columns">
  <% if @status == "Waiting" %>
    <div class="column is-10 is-offset-1 has-text-centered">
      <h2 class="title is-2">Space Requested</h2>
      <p><i class="fas fa-exclamation-triangle icon-red"></i> Your credit card will not be charged until your host accepts the request. <i class="fas fa-exclamation-triangle icon-red"></i></p>
      <br/>
      <i class="far fa-check-circle fa-5x icon-green"></i>
      <br/><br/>
      <h3 class="title is-3">What Next?</h3>
      <p><i class="far fa-check-circle icon-green"></i> An email confirmation has been sent to you.</p>
      <p><i class="fas fa-spinner fa-spin icon-green"></i> Note that this reservation is pending your host's approval.</p>
      <p><i class="far fa-envelope icon-green"></i> You'll receive an email when your host accepts (or declines) your request.</p>
    </div>
  <% elsif @status == "Approved" %>
    <div class="column is-10 is-offset-1 has-text-centered">
      <h2 class="title is-2">Approved Reservation</h2>
      <p>Enjoy your event!</p>
      <br/>
      <i class="far fa-smile fa-5x icon-green"></i>
    </div>
  <% elsif @status == "Declined" %>
    <div class="column is-10 is-offset-1 has-text-centered">
      <h2 class="title is-2">Request Denied</h2>
      <br/><br/>
      <%= link_to "Find Another Space", search_path, class: "button is-danger" %>
    </div>
  <% else %>
    <div class="column is-10 is-offset-1 has-text-centered">
      <h2 class="text-center">Cancelled Reservation</h2>
      <br/><br/>
      <%= link_to "Find Another Space", search_path, class: "button is-danger" %>
    </div>
  <% end %>
</div>
