Hi <%= @recipient.fullname %>,
<br/><br/>
This is a reminder for your upcoming booking with <%= @lister.fullname %>.
<br/><br/>
<%= @from_to %>
<br/><br/>
<%= link_to "View", your_trips_url, style: "color: #009874; text-decoration: none;" %> your reservations to see more details.
<br><br>
<img src="https://upspace.ca/email/logo-email.jpg" alt="upSpace" />
<br>
515 Legget Drive, Suite 800, Ottawa, ON K2K 3G4
<br>
Check us out on
<a href="https://www.facebook.com/upspace.ca/" target="_blank">Facebook</a>,
<a href="https://www.instagram.com/upspace.ca" target="_blank">Instagram</a>, and
<a href="https://www.linkedin.com/company/upspace/" target="_blank">LinkedIn</a>
