Hi <%= @recipient.fullname %>,
<br><br>
Your reservation for "<%= @space.title %>" has been confirmed. You can view your reservation details <a href="https://upspace.ca/your_trips">here</a>.
<br><br>
What next?
<br><br>
<a href="https://upspace.ca/users/<%= @space.user_id %>">Message the Host</a> for any questions regarding access to the space, arrival times, or anything else you need.
<br><br>
Please take a moment to leave us a review on <a href="https://g.page/upspaceca/review">Google</a> or <a href="https://www.facebook.com/upspace.ca/reviews/">Facebook</a> to let us know how we're doing. It also helps spread the word about sharing these amazing spaces!
<br><br>
<img src="https://upspace.ca/email/logo-email.jpg" alt="upSpace" />
<br>
515 Legget Drive, Suite 800, Ottawa, ON K2K 3G4
<br>
Check us out on
<a href="https://www.facebook.com/upspace.ca/" target="_blank">Facebook</a>,
<a href="https://www.instagram.com/upspace.ca" target="_blank">Instagram</a>, and
<a href="https://www.linkedin.com/company/upspace/" target="_blank">LinkedIn</a>
