Hi <%= @recipient.fullname %>,
<br/><br/>
You've received a new message from <%= @sender.fullname %>:
<br/><br/>
<em><%= simple_format(@context) %></em>
<br/><br/>
View the whole conversation and reply <a href="https://upspace.ca/conversations">here</a>.
<br><br>
<img src="https://upspace.ca/email/logo-email.jpg" alt="upSpace" />
<br>
515 Legget Drive, Suite 800, Ottawa, ON K2K 3G4
<br>
Check us out on
<a href="https://www.facebook.com/upspace.ca/" target="_blank">Facebook</a>,
<a href="https://www.instagram.com/upspace.ca" target="_blank">Instagram</a>, and
<a href="https://www.linkedin.com/company/upspace/" target="_blank">LinkedIn</a>
