<p>Welcome <%= @resource.fullname %>!</p>

<p>Thanks for signing up for upSpace. Please verify your email by clicking the following link:</p>

<p><%= link_to 'Confirm my Account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If you received this message in error, please let us know by forwarding this email to <a href="mailto:hello@upspace.ca">hello@upspace.ca</a>.

<br />
<br />
<img src="https://upspace.ca/email/logo-email.jpg" alt="upSpace" />
<br />515 Legget Drive, Suite 800, Ottawa, ON K2K 3G4
<br />Check us out on <a href="https://www.facebook.com/upspace.ca/" target="_blank">Facebook</a>, <a href="https://www.instagram.com/upspace.ca" target="_blank">Instagram</a>, and <a href="https://www.linkedin.com/company/upspace/" target="_blank">LinkedIn</a>